:root{
    /*--bg-color: rgb(152, 177, 103);*/
    /*--bg-color: hsl(80, 32.2%, 54.9%);*/
    /*--bg-color: white;
    --button-color: rgb(45, 45, 45); 
    --button-text: white;
    --accent:  rgb(61, 106, 61);
    --dark-accent: rgb(9, 58, 9);
    --alt-accent: rgb(55, 55, 232);
    --dark-alt-accent: rgb(40, 40, 164);
    */
    /*--bg-color: rgb(255, 247, 228);*/
    --bg-color: rgb(237, 237, 237);
    --button-color: rgb(45, 45, 45); 
    --button-text: white;
    --accent:  rgb(61, 106, 61);
    --dark-accent: rgb(9, 58, 9);
    --alt-accent: rgba(41, 41, 220, 0.793);
    --dark-alt-accent: rgb(31, 31, 133);
}




html {
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

@font-face {
    font-family: AKIRA;
    src: url(/fonts/AKIRA.otf);
  }


button{
    /*background-color: rgb(13, 75, 13);*/
    background-color: var(--button-color);
    color: var(--button-text);
    text-align: center;
    border: none;
    padding: .75rem .75rem;
    display: inline-block;
    font-size: 1rem;
    font-family: 'AKIRA';
    border-radius: 1.5rem;
    transition-duration: 0.3s;
}

button:hover {
    /*background-color: rgb(61, 106, 61);*/
    background-color: var(--alt-accent);
    cursor: pointer;

}

button:active:hover {
    background-color: var(--dark-alt-accent);
}

h1,h2,h3 {
    font-family: 'AKIRA';
}


p{
    font-family: 'Inter',sans-serif;
}



